.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
gds_render_preview.*
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/output/
mag/incrementer.mag
mag/incrementer_flat.*
spice/incrementer_flat.spice
spice/simulation.spice
spice/pdk_lib.spice
sim/obj_dir
